
 
<!-- Loop over each blog in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-12">
    <h2>{{blog.dataValues.title}}</h2>
    <p>Created by {{blog.user.dataValues.username}} on {{format_date blog.dataValues.date_created}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>{{blog.dataValues.content}}</p>
  </div>
</div>
{{#if blog.blog_comments.dataValues}}
<div class="row">
  <div class="col-md-12">
    <h3>Comments</h3>
    <!-- Loop over each comment in the blog_comments array -->
    {{#each blog.blog_comments.dataValues as |comment|}}
    <div class="comment">
      <p>Comment by User {{comment.user_id}}:</p>
      <p>{{comment.comment_text}}</p>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}
{{/each}}

</body>
</html>